#dashboard {
	display: none;
}

.c3-area {
    opacity: 1 !important;
}

.c3-line {
	z-index: 50 !important;
}

.c3-target-Min .c3-circle, .c3-target-Max .c3-circle {
    display:none;
}

#dashboard-8 tbody {
	display: block;
	max-height: 164px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.pie-chart-title {
	display: none;
	text-align: center;
}