/**
* @section body
*/
body {
	background-color: #fff !important;
	color: #595959 !important;
	font-size: 17px !important;
	font-family: 'Roboto Condensed', sans-serif !important;
	font-weight: 100 !important;
}
h5, h4, h3, h2, h1 {
	margin: 15px;
}
/**
* @section title
*/
.title h1 {
	font-size: 25px;
	font-weight: 100;
	color: #595959;
	margin: 45px 0 0 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.title h1::before {
	background: #cbcbcb none repeat scroll 0 0;
	top: -15px;
	content: "";
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	width: 160px;
}
.title h1 span {
	font-weight: 700;
}
/**
* @section header
*/
header {
    height: 168px;
    background-image: url(../img/header-bg.png);
    background-repeat: repeat-x;
}
/**
* @section nav
*/
#nav {
	padding: 50px 0;
}
#nav ul {
	float: none;
	margin: 0 auto;
	padding: 0;
	display: block;
	text-align: center;
	}
#nav ul li {
	display: inline-block;
	float: none;
	}
#nav ul li a {
	border: 1px solid #999;
	border-radius: 30px;
	color: #595959;
	font-size: 16px;
	font-weight: 100;
	margin: 0 10px;
	padding: 10px 15px;
	text-transform: uppercase;
}
#nav ul .active a {
	border: 2px solid #f48e44;
	font-weight: 500;
}
/**
* @section alert
*/
#alert {
	padding: 0;
}
#alert p {
	margin: 0;
	padding: 0;
}
#alert p:nth-child(3) {
	padding: 0 0 0 23px;
}
.alert-info {
	color: #595959 !important;
	background-color: #eef9fd !important;
	border-color: #eef9fd !important;
}
.close {
    font-size: 25px !important;
    color: #000 !important;
    opacity: 1 !important;
}
.fa-info-circle {
	color: #1e7d93;
	padding: 0 5px 0 0;
}
/**
* @section data
*/
#data {
	padding: 10px 0;
}
#mouseoverMapHint {
	text-align: right;
	height: 23px;
	margin: 10px;
}
#mouseoverChartHint {
	text-align: right;
	height: 23px;
	margin: 10px;
}
#analysis_map {
	color: #cecece;
	font-size: 45px;
	float: left;
	line-height: 45px;
	padding: 0;
	margin: 0 15px 0 0;
}
#analysis_name p {
	margin: 0;
	padding: 0;
}
#analysis_name p:nth-child(2) {
	color: #8d8d8d;
}
#analysis_name p:nth-child(2) span {
	color: #595959;
	font-weight: 700;
}
#analysis_name p:nth-child(3) {
	color: #555;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
#analysis_name p:nth-child(3) span {
	font-size: 13px;
	padding: 0 0 0 10px;
}
/**
* @section indicator
*/
#indicator_name {
	color: #555;
	font-size: 15px;
	font-weight: 700;
	padding: 15px 0;
	text-transform: uppercase;
}
#indicator .nav-tabs > li.active > a,
#indicator .nav-tabs > li.active > a:focus,
#indicator .nav-tabs > li.active > a:hover {
	color: #4a4a4a !important;
    background-color: #fafafa !important;
    border: 1px solid #ededed !important;
    border-bottom-color: transparent !important;
}
#indicator .nav-tabs > li > a:hover {
	opacity: 1;
}
#indicator .nav-tabs > li > a {
    border-radius: 0 !important;
	color: #b2b2b2 !important;
	text-transform: uppercase;
}
#indicator .tab-content {
    background-color: #fafafa !important;
    border: 1px solid #ededed !important;
    border-top-color: transparent !important;
	padding: 10px;
}
#indicator .nav li a {
    padding: 10px 5px !important;
	}
.nav-tabs li {
	opacity: 0.5;
	width: 33%;
}
.nav-tabs li.active {
	opacity: 1;
}
.nav-tabs li a {
	clear: both;
	display: block;
	line-height: 12px !important;
	margin: 0 auto;
	text-align: center;
}
#chart {
	display: none;
}
#chart_1, #chart_2, #chart_3 {
	margin: 5px 0 10px 0;
	height: 80px;
}
#chart_1_info {
	color: black;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}
#chart_2_info {
	color: black;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}
#chart_3_info {
	color: black;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}
#marker-description {
	display: none;
}
/**
* @section points
*/
.points {
	background-color: #2e353f;
	position: relative;
	margin: 5px 0 10px 0;
}
#points_desc {
	color: #fff;
	float: left;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	padding: 29px 20px;
	width: 70%;
	text-transform: uppercase;
}
.points #points_digit {
	background-color: #2e353f;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	right: 10px;
	top: 10px;
	padding: 0 0 3px 0;
	position: absolute;
	text-align: center;
	width: 30%;
	}
.points #points_digit:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);	
}
.points #points_digit span#raw_value {
	display: none;
	color: white;
	font-size: 25px;
	padding: 13px 10px;
	line-height: 45px;
	display: block;
}
.points #points_digit span#rank_value {
	color: white;
	font-size: 33px;
	font-weight: 500;
	display: block;
}
.points #points_digit span#rank_value::after {
	background: #525963 none repeat scroll 0 0;
	bottom: 26px;
	content: "";
	height: 2px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	width: 25px;
}
.medium_points {
	background-color: rgb(247, 69, 59);
	position: relative;
	margin: 5px 0 10px 0;
}
.medium_points.green {
	background-color: rgb(48, 151, 32);
}
.medium_points.blue {
	background-color: rgb(49, 154, 252);
}
.medium_points.lightred {
	background-color: rgb(252, 203, 200);
}
#hint-indicators {
	display: none;
}
#dashboard-8-title {
	font-size: 14px;
}
#medium_points_desc {
	color: #fff;
	float: left;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	padding: 29px 20px;
	width: 70%;
	text-transform: uppercase;
}
#medium_points_digit {
	background-color: #e63732;
	color: #fff;
	font-size: 25px;
	font-weight: 500;
	line-height: 45px;
	right: 10px;
	top: 10px;
	padding: 13px 10px;
	position: absolute;
	text-align: center;
	width: 37%;
}
#medium_points_digit:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(251, 160, 155, 0.8);	
}
#medium_points_digit.green:before {
	background-color: rgba(68, 209, 45, 0.8);	
}
#medium_points_digit.blue:before {
	background-color: rgba(127, 193, 253, 0.8);	
}
#medium_points_digit #procent {
	color: #621213;
	font-size: 33px;
	font-weight: 500;
}
#medium_points_digit #plus-minus {
	float: left;
	line-height: 12px;
	margin: 13px 0 0 10px;
}
table.customers {
	border-collapse: collapse;
	border: 1px solid #ddd;
	border-spacing: 0;
	width: 100%;
	margin: 5px 0 10px 0;
}
.customers td {
	border-bottom: 1px solid #ddd;
	text-align: center;
	padding: 4px 8px;
}
.customers th {
	border: 1px solid #f38e46;
	text-align: center;
	padding: 4px 8px;
}
.customers tr:nth-child(even) {
	background-color: #f2f2f2;
}
.customers tr:hover {
	background-color: #f8decd;
	cursor: pointer;
}
.customers th {
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f38e46;
	color: #fff;
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
}
.rate_1 {
	font-size: 15px;
	font-weight: 100;
	line-height: 19px;
}
.rate_2 {
	font-size: 17px;
	font-weight: 500;
	line-height: 17px;
	text-align: left !important;
	width: 100%; /* РљС‚Рѕ Р±С‹ Р·РЅР°Р» РїРѕС‡РµРјСѓ СЌС‚Рѕ СЂР°Р±РѕС‚Р°РµС‚ */
}
.rate_green {
	font-weight: 400;
}
.rate_red {
	color: #f00;
	font-weight: 400;
}
.tab-content .vr-md {
	padding-right: 5px;
}
.tab-content .vl-md {
	padding-left: 5px;
}
/**
* @section crime
*/
.crime {
	background-color: #2e353f;
	position: relative;
	margin: 5px 0 10px 0;
}
.crime #points_desc {
	color: #fff;
	float: none;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	padding: 29px 20px;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
}
.crime #points_digit {
	background-color: #2e353f;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 0;
	position: relative;
	text-align: center;
	width: 54%;
	clear: both;
	display: block;
	margin: 0 auto 28px auto;
	text-align: center;
	}
.crime #points_digit:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);	
	}
.crime #points_digit span {
	color: #8fb967;
	font-size: 33px;
	font-weight: 500;
	display: inline;
}
.crime #points_digit span::after {
	background: none;
	bottom: 26px;
	content: "";
	height: 2px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	width: 25px;
}
.auto-container {
	position: relative;
	z-index: 1;	
}
/**
* @section map
*/
#search_item {
	padding: 0 0 10px 0;
	text-align: center;
}
select.selectpicker, select.selectpicker_2, select.selectpicker_3, select.selectpicker_4 {
	border: none;
	width: 100%;
	margin: 0 30px 0 0;
}
select.selectpicker, select.selectpicker_2, select.selectpicker_3, select.selectpicker_4 {
	-webkit-padding-end: 25px !important;
}
select.selectpicker, select.selectpicker_2, select.selectpicker_3, select.selectpicker_4 {
	background: url("../img/arrow.png") 100% 55%;
	background-repeat: no-repeat;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	padding: 6px 0px;
}
#search_item button {
	background: #6AB421;
	border: none;
	border-radius: 30px;
	color: #fff;
	margin: 3px 0 0 0;
	padding: 5px 15px;
}
#search_item button:disabled {
	background: #CDCDCD;
}
#map_item {
	color: #4a4a4a !important;
    background-color: #fafafa !important;
    border: 1px solid #ededed !important;
}
#map_item p {
	font-size: 16px;
	font-weight: 700;
	padding: 0 0 0 15px;
}
#map_item img {
	width: 100%;
	height: auto;
}
.c3-region.regionY {
	fill: red;
}
.c3-region.regionY2 {
	fill: green;
}
#ext_item {
	padding: 20px 0;
}
#hint-line-chart {
	display: none;
}
#hint-range {
	margin-top: 15px;
}
#hint-indicators {
	display: none;
}
#hint-map {
	display: none;
	margin-top: 10px;
	font-weight: 300 !important;
}
#hint-map p {
	font-weight: 300 !important;
}
#line-chart {
	display: flex;
	justify-content: center;
}
#pie-chart {
	margin-top: 35px;
}
#pie-chart-1 {
	text-align: center;
	display: flex;
	justify-content: center;
}
#pie-chart-2 {
	text-align: center;
	display: flex;
	justify-content: center;
}
.pie-chart-title, .line-chart-title {
	display: none;
	text-align: center;
	font-size: 16px;
}
.map-chart-switch {
	float: left;
	cursor: pointer;
	color: #5D5D5D;
	font-weight: 500;
	text-transform: uppercase;
}
.hider {
	display: block;
	text-align: right;
	width: 100%;
	cursor: pointer;
	color: #5D5D5D;
	font-weight: 500;
	text-transform: uppercase;
}
/**
* @section sub footer
*/
#sub-footer {
	background-color: #282d33;
	min-height: 300px;
}
/**
* @section footer
*/
footer {
	background-color: #31363c;
	padding: 20px 0;
}
footer p {
	color: #9fa3a6;
	font-size: 15px;
	line-height: 25px;
	margin: 0;
}
#copyright {
	text-align: center;
	text-transform: uppercase;
}
/**
* loader
*/
body.loading {
	overflow-y: hidden;
	overflow-x: hidden;
}
body.loading #loader {
	display: block;
}
#loader {
	display: none;
	position: fixed;
	z-index: 99;
	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	overflow: hidden;
	
	background-color: white;
	background-image: url('../img/loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
}

.hint-line-chart-area {
	display: inline-block;
    height: 17px;
    width: 17px;
    background-color: red;
    top: 3px;
    position: relative;
}

.hint-line-chart-area-dark-red {
	background-color: rgb(255, 40, 40);
}


.hint-line-chart-area-red {
	background-color: rgb(255, 75, 75);
}

.hint-line-chart-area-light-red {
	background-color: rgb(255, 150, 150);
}

.hint-line-chart-area-normal {
	background-color: rgb(127, 193, 253);
}

.hidden{display:none;}
.bold{font-weight: bold;}

#region-search{			
	position:relative;
}

#region-search input{			
	
}

#region-search-prompt{
	height:300px;
	z-index:999;
	overflow-y:auto;
	overflow-x:hidden;
	right:0;left:0;
	display:none;position:absolute;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	border:1px solid #eee;
	padding:10px;
	background-color:white;
}

#region-search-prompt option{			
	cursor: pointer;		
	padding:3px;			
}

#region-search-prompt option:hover{
	background-color:#eee;
}

#map-pin {
	background-image: url("../img/pin.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	
	position: absolute;
	top: 0;
	left: -28px;
	height: 28px;
	width: 30px;
	
	cursor: pointer;
}